body {
  background: #fafbfb;
}

.menuBar {
  border-bottom-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  border: #efefef 2px solid;
  border-top: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background: #3a3f51;
  color: white !important;
}

/* FOOTER 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

.logo {
  margin-right: 20px;
}
